body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
}

footer {
    text-align: center;
    width: 100%;
}
